header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1052px;
  margin-top: 92px;
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 400;
}
.header__menu {
  display: flex;
  margin-left: 50.52px;
  gap: 31.48px;
}
.header__links-list-item {
  list-style-type: circle;
  text-decoration: underline;
  text-underline-offset: 4px;
}
.header__link_active {
  text-decoration: none;
}
.header__links-list-item:has(>.header__link_active) {
  display: inline-block;
  text-decoration: none;
  list-style-type: none
}
.header__logo-image {
  margin-right: 144px;
  width: 148px;
  height: 105px;
}
.contacts {
  min-width: 240.52px;
  max-width: 240.52px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  letter-spacing: 0.01em;
  font-style: normal;
  text-align: left;
  text-decoration: none;
  text-underline-offset: 4px;
}
.cover__background-image {
  margin-top: 90px;
  margin-bottom: 179px;
  padding: 165px 50px 0px;
  min-height: 100%;
  background: url("../images/cover.jpg") rgba(0, 0, 0, 0.6);
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  min-height: 757px;
  width: 1100px;
  color: white;
}
.cover__title {
  display: flex;
  flex-direction: column;
  width: 1000px;
  font-size: 100px;
  text-transform: uppercase;
  z-index: 2;
}
.aligned-text {
  display: flex;
  flex-direction: row;
  line-height: 115px;
  font-size: 100px;
}
.aligned-text_center {
  display: flex;
  margin: 20px 0px 20px;
  flex-direction: row;
  justify-content: center;
  line-height: 100px;
  font-size: 100px;
}
.aligned-text_right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  line-height: 100px;
  font-size: 100px;
}
.letter-spacing {
  letter-spacing: 0.3em;
}
.letter-spacing-extended {
  letter-spacing: 0.6em;
}
.no-letter-spacing {
  letter-spacing: 0;
}
.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 136px;
  padding-left: 28px;
}
.cover__description-text {
  display: block;
  word-spacing: 0.9em;
  z-index: 2;
  font-size: 22px;
  text-transform: uppercase;
}
.bet-button {
  width: 256px;
  height: 51px;
  border: 1px solid #ffffff;
  color: white;
  background-color: transparent;
  cursor: pointer;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  line-height: 25.83px;
}
.lots {
  margin: 179px 24px 146px;
  width: 1052px;
}
.lots__heading {
  margin-left: 40px;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-transform: uppercase;
}
.lots__card-list {
  display: grid;
  margin-top: 27px;
  margin-bottom: 30px;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  color: white;
}
.lots__card-list-item {
  width: 334px;
  min-height: 563px;
}
.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}
.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}
.card_type_picture {
  background: url("../images/card-lot-03.jpg");
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  min-height: 100%;
  background-blend-mode: multiply;
  padding: 51px 40px 48px;
  background-color:  rgba(0, 0, 0, 0.6);
  background-position: center; 
  background-size: cover;
}
.card__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  text-transform: uppercase;
  text-decoration: underline;
}
.card__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
.lots__look-more-link {
  font-size: 20px;
  font-weight: 400;
  line-height: 23.48px;
  margin-left: 40px;
  margin-bottom: 2px;
  text-decoration: underline;
  text-underline-offset: 4px;
}
.about__column {
  display: flex;
  gap: 72px;
  margin: 0px 24px;
}
.about__logo {
  display: flex;
  margin-top: 35px;
  margin-left: 47px;
  min-width: 240px;
  max-height: 240px;
  background-color: black;
  border-radius: 50%;
  justify-content: center;
}
.about__logo-image {
  width: 148px;
  height: 114px;
  object-fit: cover;
  align-self: center;
}
.about__content {
  display: flex;
  flex-direction: column;
  margin-top: 137px;
  margin-bottom: 13px;
}
.about__title {
  margin-bottom: 100px;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
  text-transform: uppercase;
}
.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-right: 5px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
footer {
  display: flex;
  justify-content: space-between;
  margin: 170px 50px 88px;
  width: 1000px;
}
.footer__menu-list-item {
  list-style-type: none;
  text-decoration: underline;
  text-underline-offset: 4px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  text-align: center;
}
.header__link_active {
  text-decoration: none;
}
.footer__menu-list-item:has(>.footer__menu-link_active) {
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
}
.footer__social-link {
  list-style-type: none;
  width: 48px;
  height: 48px;
}
.footer__social-list-item {
  display: flex;
  gap: 48px;
}
